* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cabecalho1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(254, 255, 255);
    font-size: 30px;
}

.navbar {
    font-size: 1000px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.cabecalho2 {
    display: flex;
    justify-content: end;
    align-items: end;
    color: rgb(254, 255, 255);
    font-size: 10px;
}

p {
    display: flex;
    justify-content: end;
    align-items: end;
    color: rgb(254, 255, 255);
    font-size: 10px;
}


body {
    height: 100dvh;
    background-image: url('img/img-banner.jpg');
    /*papel de parede arquivo local*/
    height: 100dvh;
    background-size: cover; /* cobre toda a tela */
    /* body se enquadra em qualquer tela, seja celular, tablet ou pc*/
}

a {
    color: aliceblue;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

a:hover {
    text-decoration: underline;
}


.floating-menu {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 8px var(--shadow-color);
    z-index: 1000;
    width: 60px;
    transition: width 0.3s ease;
    overflow: hidden;
}

.floating-menu:hover {
    width: 220px;
}

.floating-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.floating-menu li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.5rem;
    white-space: nowrap;
}

.floating-menu li a:hover {
    background-color: #0056b3;
}

.floating-menu .menu-text {
    margin-left: 1rem;
    font-size: 1rem;
    display: none;
}

.floating-menu:hover .menu-text {
    display: inline;
}